[user]
	name = Gema Gomez
	email = gema@ggomez.me

[github]
	user = gemagomez

[core]
	editor = vim

[color]
	diff = auto

[push]
	default = simple

[diff]
	mnemonicprefix = true
	algorithm = patience

[alias]
	assume   = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed  = "!git ls-files -v | grep ^h | cut -c 3-"

	snapshot  = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
	snapshots = !git stash list --grep snapshot

	recent-branches = !git for-each-ref --count=5 --sort=-committerdate refs/heads/ --format='%(refname:short)'

[rerere]
	enabled = true

[mergetool]
	prompt = false

[mergetool "fugitive"]
	cmd='vim -f -c "Gdiff" "$MERGED"'

[merge]
	conflictstyle = diff3
	# consider changing to fugitive
	tool = vimdiff
